Repository lusoris/revenge: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

test(cache): add comprehensive cache system tests
  internal/infra/cache/cache_comprehensive_test.go
Due: none

test(integration): add comprehensive integration tests
  tests/integration/api_client_test.go.skip
  tests/integration/auth_flow_test.go
  tests/integration/cache/cache_advanced_test.go
  tests/integration/cache/cache_test.go
  tests/integration/database/constraints_test.go
  tests/integration/database/database_test.go
  tests/integration/helpers_test.go
  tests/integration/search/search_test.go
  tests/integration/service/auth_service_test.go
  tests/integration/service/user_service_test.go
  tests/integration/services/user_service_test.go
Due: integration

feat(database): add new migration files
  internal/infra/database/migrations/shared/000001_create_schemas.down.sql
  internal/infra/database/migrations/shared/000001_create_schemas.up.sql
  internal/infra/database/migrations/shared/000002_create_users_table.down.sql
  internal/infra/database/migrations/shared/000003_create_sessions_table.down.sql
  internal/infra/database/migrations/shared/000003_create_sessions_table.up.sql
  internal/infra/database/migrations/shared/000006_create_user_preferences_table.down.sql
  internal/infra/database/migrations/shared/000007_create_user_avatars_table.down.sql
  internal/infra/database/migrations/shared/000007_create_user_avatars_table.up.sql
  internal/infra/database/migrations/shared/000011_create_casbin_rule_table.down.sql
  internal/infra/database/migrations/shared/000011_create_casbin_rule_table.up.sql
  internal/infra/database/migrations/shared/000012_create_api_keys_table.down.sql
  internal/infra/database/migrations/shared/000012_create_api_keys_table.up.sql
  internal/infra/database/migrations/shared/000013_create_oidc_tables.down.sql
  internal/infra/database/migrations/shared/000013_create_oidc_tables.up.sql
  internal/infra/database/migrations/shared/000014_create_activity_log_table.down.sql
  internal/infra/database/migrations/shared/000014_create_activity_log_table.up.sql
  internal/infra/database/migrations/shared/000015_create_library_tables.down.sql
  internal/infra/database/migrations/shared/000015_create_library_tables.up.sql
Due: unittests

feat(docker): add Typesense Dockerfile and entrypoint script
  deploy/typesense.Dockerfile
  scripts/docker-entrypoint.sh
Due: none

refactor(database): update generated code and SQL queries
  internal/infra/database/db/activity.sql.go
  internal/infra/database/db/apikeys.sql.go
  internal/infra/database/db/querier.go
  internal/infra/database/db/users.sql.go
  internal/infra/database/queries/shared/activity.sql
  internal/infra/database/queries/shared/apikeys.sql
  internal/infra/database/queries/shared/users.sql
Due: unittests

refactor(infra): improve database and search infrastructure
  internal/infra/database/migrate.go
  internal/infra/database/module.go
  internal/infra/database/testing.go
  internal/infra/search/module.go
Due: unittests

fix(cache): improve TTL handling and eviction logic
  internal/infra/cache/cache.go
  internal/infra/cache/otter.go
Due: unittests

refactor(service): improve repository implementations
  internal/service/activity/repository_pg.go
  internal/service/session/repository_pg.go
  internal/service/user/repository_pg.go
Due: unittests

refactor(service): improve service layer business logic
  internal/service/auth/jwt.go
  internal/service/auth/service.go
  internal/service/session/service.go
  internal/service/user/service.go
Due: unittests

refactor(service): improve OIDC and RBAC services
  internal/service/oidc/service.go
  internal/service/rbac/adapter.go
Due: unittests

refactor(api): improve API key and session handlers
  internal/api/handler_apikeys.go
  internal/api/handler_session.go
Due: unittests

chore(api): regenerate Ogen code from OpenAPI spec
  internal/api/ogen/oas_json_gen.go
  internal/api/ogen/oas_schemas_gen.go
Due: unittests

refactor(content): update content type models
  internal/content/movie/db/models.go
  internal/content/qar/db/models.go
  internal/content/tvshow/db/models.go
Due: unittests

docs(api): update OpenAPI specification
  api/openapi/openapi.yaml
Due: none

chore(deps): update Go module dependencies
  go.mod
  go.sum
Due: none

fix(docker): improve Docker configuration
  Dockerfile
  docker-compose.dev.yml
Due: none

docs: update project documentation
  README.md
  data/shared-sot.yaml
  docs/dev/design/00_SOURCE_OF_TRUTH.md
  docs/dev/sources/infrastructure/typesense-go.md
Due: none

docs: update session documentation with user edits
  .workingdir/database-bug-testing-report.md
  .workingdir/session-summary.md
Due: none

docs: add BUG #29 password migration issue and update TODO
  .workingdir/BUG_29_PASSWORD_HASH_MIGRATION.md
  .workingdir/live-system-testing-report.md
  TODO.md
Due: none

fix(crypto): add bcrypt backward compatibility for password verification
  .workingdir/security-scan-live.json
  internal/crypto/password.go
  internal/crypto/password_test.go
Due: unittests

test: fix JWT and cache client test issues
  internal/infra/cache/client_test.go
  internal/service/auth/jwt_test.go
Due: none

security: eliminate all remaining security issues (G204, G602, G101)
  .workingdir/security-scan-after-fixes.json
  .workingdir/security-scan-all-fixed.json
  TODO.md
  internal/api/ogen/oas_router_gen.go
  internal/infra/database/db/apikeys.sql.go
  internal/infra/database/db/auth_tokens.sql.go
  internal/infra/database/db/sessions.sql.go
  internal/infra/database/db/users.sql.go
  internal/testutil/testdb.go
Due: unittests

docs: add MFA/2FA/WebAuthn dependencies and service planning
  docs/dev/design/00_SOURCE_OF_TRUTH.md
Due: none

docs: add comprehensive USER_SETTINGS design and sync documentation
  .workingdir/DESIGN_DOC_AUDIT_2026-02-03.md
  docs/dev/design/00_SOURCE_OF_TRUTH.md
  docs/dev/design/services/SESSION.md
  docs/dev/design/services/SETTINGS.md
  docs/dev/design/services/USER_SETTINGS.md
Due: none

feat(crypto): add shared AES-256-GCM encryption service
  internal/crypto/encryption.go
  internal/crypto/encryption_test.go
Due: unittests

feat(mfa): add database migrations for MFA tables
  migrations/000016_create_user_totp_secrets.down.sql
  migrations/000016_create_user_totp_secrets.up.sql
  migrations/000017_create_webauthn_credentials.down.sql
  migrations/000017_create_webauthn_credentials.up.sql
  migrations/000018_create_mfa_backup_codes.down.sql
  migrations/000018_create_mfa_backup_codes.up.sql
  migrations/000019_create_user_mfa_settings.down.sql
  migrations/000019_create_user_mfa_settings.up.sql
Due: none

feat(mfa): add SQLC queries for MFA operations
  internal/infra/database/db/mfa.sql.go
  internal/infra/database/db/models.go
  internal/infra/database/db/querier.go
  internal/infra/database/queries/shared/mfa.sql
Due: unittests

feat(mfa): implement TOTP service (Phase 2)
  internal/service/mfa/totp.go
  internal/service/mfa/totp_test.go
Due: unittests

feat(mfa): implement WebAuthn service (Phase 3)
  go.mod
  go.sum
  internal/service/mfa/webauthn.go
  internal/service/mfa/webauthn_test.go
Due: unittests

feat(mfa): implement backup codes and MFA manager (Phase 4)
  internal/service/mfa/backup_codes.go
  internal/service/mfa/backup_codes_test.go
  internal/service/mfa/manager.go
  internal/service/mfa/manager_test.go
Due: unittests

refactor(api): standardize health endpoints to Kubernetes conventions
  .workingdir/BUG_29_PASSWORD_HASH_MIGRATION.md
  .workingdir/DESIGN_DOC_AUDIT_2026-02-03.md
  .workingdir/TODO_COMPREHENSIVE_v0.3.0.md
  .workingdir/live-system-testing-report.md
  TODO.md
  api/openapi/openapi.yaml
  docs/dev/design/services/MFA.md
  docs/dev/design/services/USER_SETTINGS.md
  internal/api/ogen/oas_client_gen.go
  internal/api/ogen/oas_handlers_gen.go
  internal/api/ogen/oas_router_gen.go
  internal/api/ogen/oas_server_gen.go
  internal/api/ogen/oas_unimplemented_gen.go
  internal/api/server_test.go
  internal/infra/cache/client_test.go
  internal/infra/database/db/activity.sql.go
  internal/infra/database/db/apikeys.sql.go
  internal/infra/database/db/auth_tokens.sql.go
  internal/infra/database/db/copyfrom.go
  internal/infra/database/db/db.go
  internal/infra/database/db/sessions.sql.go
  internal/infra/database/db/users.sql.go
  tests/integration/health_test.go
  tests/integration/helpers_test.go
  tests/integration/server_test.go
Due: unittests

docs: update TODO with completed MFA phases and correct health endpoint naming
  .workingdir/TODO_COMPREHENSIVE_v0.3.0.md
  internal/crypto/encryption_test.go
  internal/service/mfa/backup_codes_test.go
  internal/service/mfa/totp.go
  internal/service/mfa/totp_test.go
  internal/service/mfa/webauthn_test.go
Due: unittests

feat(mfa): integrate MFA with auth service and unify password hashing
  internal/crypto/password.go
  internal/crypto/password_test.go
  internal/infra/database/db/models.go
  internal/infra/database/db/querier.go
  internal/infra/database/db/sessions.sql.go
  internal/infra/database/queries/shared/sessions.sql
  internal/service/auth/mfa_integration.go
  internal/service/auth/repository.go
  internal/service/auth/repository_pg.go
  internal/service/mfa/backup_codes.go
  internal/service/mfa/backup_codes_test.go
  migrations/000018_create_mfa_backup_codes.up.sql
  migrations/000020_add_mfa_to_sessions.down.sql
  migrations/000020_add_mfa_to_sessions.up.sql
Due: unittests

chore: update test comment (argon2id not bcrypt)
  go.mod
  tests/integration/service/user_service_test.go
Due: none

feat(mfa): add MFA API handlers and integrate with server
  api/openapi/openapi.yaml
  internal/api/handler.go
  internal/api/handler_mfa.go
  internal/api/ogen/oas_cfg_gen.go
  internal/api/ogen/oas_client_gen.go
  internal/api/ogen/oas_handlers_gen.go
  internal/api/ogen/oas_interfaces_gen.go
  internal/api/ogen/oas_json_gen.go
  internal/api/ogen/oas_operations_gen.go
  internal/api/ogen/oas_request_decoders_gen.go
  internal/api/ogen/oas_request_encoders_gen.go
  internal/api/ogen/oas_response_decoders_gen.go
  internal/api/ogen/oas_response_encoders_gen.go
  internal/api/ogen/oas_router_gen.go
  internal/api/ogen/oas_schemas_gen.go
  internal/api/ogen/oas_security_gen.go
  internal/api/ogen/oas_server_gen.go
  internal/api/ogen/oas_unimplemented_gen.go
  internal/api/ogen/oas_validators_gen.go
  internal/api/server.go
  internal/app/module.go
  internal/infra/database/db/models.go
  internal/service/mfa/module.go
Due: unittests

fix(mfa): implement GetUserIDFromContext using existing context helper
  internal/api/handler_mfa.go
Due: unittests

docs: update TODO to reflect completed MFA implementation
  .workingdir/TODO_COMPREHENSIVE_v0.3.0.md
Due: none

feat(db): add movie module database schema with 6 migrations
  migrations/000001_create_schemas.down.sql
  migrations/000001_create_schemas.up.sql
  migrations/000020_add_mfa_to_sessions.up.sql
  migrations/000021_create_movies_table.down.sql
  migrations/000021_create_movies_table.up.sql
  migrations/000022_create_movie_files_table.down.sql
  migrations/000022_create_movie_files_table.up.sql
  migrations/000023_create_movie_credits_table.down.sql
  migrations/000023_create_movie_credits_table.up.sql
  migrations/000024_create_movie_collections_tables.down.sql
  migrations/000024_create_movie_collections_tables.up.sql
  migrations/000025_create_movie_genres_table.down.sql
  migrations/000025_create_movie_genres_table.up.sql
  migrations/000026_create_movie_watched_table.down.sql
  migrations/000026_create_movie_watched_table.up.sql
Due: none

feat(movie): add SQLC queries for movie module
  internal/content/movie/db/models.go
  internal/content/movie/db/movies.sql.go
  internal/content/movie/db/querier.go
  internal/infra/database/queries/movie/movies.sql
  sqlc.yaml
Due: unittests

feat(movie): add repository layer with PostgreSQL implementation
  internal/content/movie/repository.go
  internal/content/movie/repository_postgres.go
  internal/content/movie/types.go
Due: unittests

Path conditions:
  unittests: any of: internal/, pkg/, but not: **/*_test.go, **/testdata/**, **/mocks/**, cmd/**, scripts/**, docs/**, vendor/**
  integration: any of: tests/integration/, but not: **/*_test.go, **/testdata/**, **/mocks/**, cmd/**, scripts/**, docs/**, vendor/**
